*{
    background: black;
    /* background-image: url("outrunBackground.gif"); */
}
#centeredDiv{
    margin: auto;
    width: 75%;
    height: 75%;
}
dialog{
    background: white;
    width: inherit;
    height: 65%;
}
#nextButton{
    position: fixed;
    display: inline;
    bottom: 0;
    left: inherit;
    color: white;
}