*{
    font-family: monospace;
}
html{
    background: url("outrunBackground.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
background-image{
    filter: blur(8)
}
#centeredDiv{
    margin: 100px auto;
    width: 75%;
    height: 85%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 3;
    filter:none;
}
dialog{
    background: rgb(50,50,50);
    color: greenyellow;
    font-family: monospace;
    text-transform: uppercase;
    width: inherit;
    text-align:left;
    font-size: 400%;
    height: 65%;
    border-radius: 5px;
    border-color: darkgrey;
    display: block;
    z-index: 3;
}
#nextButton{
    display: block;
    position: absolute;
    bottom: 15%;
    right: 7.5%;
    background: rgb(50,50,50);
    color: greenyellow;
    font-family: monospace;
    text-transform: uppercase;
    text-align:center;
    font-size: 200%;
    border-radius: 5px;
    border-color: darkgrey;
    z-index: 3;
}
#gameBoard{
    display:grid;
    flex-wrap: wrap;
    z-index: 3;
    width: fit-content;
    justify-content: center;
    flex-basis: 100%;
    background-color: transparent;
}
tr{
    background-color: greenyellow;
    width:fit-content;
    z-index: 3;
}
td{
    background-color: rgb(75, 75, 75);
    height: 64px;
    width: 64px;
    z-index: 3;
}
.path{
    background-color: blue;
}
.possibleTowerSpot{
    background-color: red;
}
#startButton{
    display: block;
    background-color: rgb(90,90,90);
    color: chartreuse;
    right: 0%;
    font-size: 200%;
    border-radius: 5px;
    text-transform: capitalize;
}
#stats{
    display: flex;
    flex-basis: 100%;
    background-color: black;
    justify-content: space-around;
}
#credits{
    color: greenyellow;
    right: 0;
    font-size: large;
}
#health{
    color: greenyellow;
    left: 0;
    font-size: large;
}
#base{
    display: block;
    height: 100px;
    flex-basis: 100%;
    background-color: transparent;
    font-size: 300%;
}
/* #base > img{
    background-image: url(textImg.jpg);
} */
.pawn{
    background-color: purple;
}
.highlightCircle{
    background-color: whitesmoke;
}

.enemy{
    height: 64px;
    width: 64px;
    background-image: url("textImg.jpg");
}